$accent: #263238;
$default: #8F95A5;
$black: #000000;
$white: #ffffff;





%poppins-400 {
  font-family: 'Poppins';
  font-weight: 400;
}

%poppins-500 {
  font-family: 'Poppins';
  font-weight: 500;
}

%poppins-600 {
  font-family: 'Poppins';
  font-weight: 600;
}