<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Britlex</title>
    <link rel="stylesheet" href="css/index.min.css" />
  </head>
  <body>

    {%  include 'app/module/_header/_header.html' %}
    <main class="main">
        {%  include 'app/module/_top/_top.html' %}
        {%  include 'app/module/_skills/_skills.html' %}
        {%  include 'app/module/_about/_about.html' %}
        {%  include 'app/module/_pricing/_pricing.html' %}
        {%  include 'app/module/_contact/_contact.html' %}
    </main>
    {%  include 'app/module/_footer/_footer.html' %}

        <script src="js/main.min.js"></script>

  </body>
</html>
